.left{
    position: absolute;
    left: 40px;
    top: 20px;
    display: inline-block;
    
}
.left div{
    line-height: 50px;
    text-align: center;
    font-size: 30px;
}

.mid{
   
    display: block;
    width: 40%;
    margin: 20px auto;
   
    font-size: 30px;
}
.right{
    position: absolute;
    right: 34px;
    top: 40px;
    display: inline-block;

}
.navbar{
    display: inline-block;

}
.navbar li{

    display: inline-block;
    font-size: 15px;
}

.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover,.navbar li active{
     text-decoration: underline;
     color: aqua;
}

.btn{
    margin: 0px 9px;
    background-color:black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(138, 138, 203);
    
}
.container{
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}
.form-group input{
     text-align: center;
      display: block;
     width: 508px;
     padding: 2px;
     border: 2px solid black;
     margin: 5px auto;
     font-size: 30px;
     border-radius: 10px;
}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 103%;
    margin: 15px auto;
    font-size: 28px;
}
